extends layout

block content
   h1 #{item.name} 
   h2 Price: #{item.price} 
   h2 Description: 
   p #{item.description} 

   form(method='POST' action=`${foundCategory.url}${item.url}/delete`)
         input#itemid(type='hidden', name='itemid', required='true', value=item._id)
         button(type='submit') Delete item